<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a blog page with a list of posts.">
    <title>Sawyer</title>
    
    <link rel="stylesheet" href="{% static 'blog/css/pure-min.css' %}">

    <link rel="stylesheet" href="{% static 'css/mobi.css' %}">
    
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="{% static 'blog/css/grids-responsive-min.css' %}">
    <!--<![endif]-->
    
    
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="css/layouts/blog-old-ie.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="static stylesheet" href="{% static 'blog/css/blog.css' %}">
        <!--<![endif]-->
</head>
<body>







<div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
            <div  style="width: 74px; height: 74px;border-radius: 50%; border: 3px solid #eee; 
                        overflow: hidden;margin-left:auto;margin-right:auto;margin-bottom:20px;">    
                <img class="pure-img" src="{% static 'img/a.jpg' %}" width="80" height="80" />
            </div>
            <h1 class="brand-title">Sawyer's site</h1>
            <h2 class="brand-tagline">somthing cooooool...</h2>

            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="pure-button" href="/about_me/">About me</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="/">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="/message_board/">MessageBoard</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="/">MessageBoard</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="/message_board/">Game</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="content pure-u-1 pure-u-md-3-4">
        <div>
            <!-- 登录展示 -->

            <div class="posts">
                <div>
                    <h1><a href="">Sawyer's site</a></h1>
                        {% if user.is_authenticated %}
                      <p>你已登录，欢迎你：<a href="#">{{ user.username }}</a></p>
                      <button class="pure-button">
                      <a href="{% url 'logout' %}?next={{ request.path }}">注销登录</a>
                      <button class="pure-button"><a href="{% url 'password_change' %}?next={{ request.path }}">修改密码</a>
                      </button>
                      </button>
                      {% else%}
                      <button class="pure-button">
                        <a href="{% url 'login' %}?next={{ request.path }}">登录</a>
                      </button>
                      </p>
                    {% endif %}
                </div>
                <h1 class="content-subhead">Comments</h1>

                <h1 class="content-subhead">

                <div class="flex-center">
                    <div class="container">
                        <div class="flex-center">
                            <div class="unit-1-2 unit-1-on-mobile">
                                <h3>评论</h3>
                            <div>


                                {% for comment in comments %}
                                <section class="post">
                                    <header class="post-header">

                                        <h2 class="post-title">{{ comment.name }} 说:</h2>
                                        <h2 class="post-text">{{ comment.text }}</h2>
                                        <p class="post-meta">
                                            Time:{{ comment.created_time }}
                                        </p>
                                        
                                    </header>
                                </section>
                                {% empty %}
                                  暂无评论
                                {% endfor %}


                            </div>
                                <div>
                                    {% if user.is_authenticated %}
                                      <p><a href="#">{{ user.username }}</a>:</p>
                                      {% else%}
                                      <button class="pure-button">
                                        <a href="{% url 'login' %}?next={{ request.path }}">登录后可以参与评论</a>
                                      </button>
                                      </p>
                                    {% endif %}
                                </div>
                                <form class="form" action="/message_board/post_comment/" method="post">
                                    {% csrf_token %}
                                    {{ form }}
                                    {% if user.is_authenticated %}
                                    <button type="submit" class="btn btn-primary btn-block">提交</button>
                                    {% endif %}
                                </form>
                                <div class="flex-center top-gap text-small">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                </h1>

            <div class="footer">
                <div class="pure-menu pure-menu-horizontal">
                    <ul>
                        <li class="pure-menu-item"><a href="/about_me" class="pure-menu-link">About</a></li>
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Weibo</a></li>
                        <li class="pure-menu-item"><a href="https://github.com/sawyerRick" class="pure-menu-link">GitHub</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>




</body>
</html>
