{% extends 'blog/base.html' %}

{% block stuff %}

<section class="post">
    <header class="post-header">
        <h1 class="post-title">{{ article.title }}</h1>
        <p class="post-meta">Time:{{ article.pub_time }}<a class="post-category post-category-js" href="#">{{ article.tag }}</a></p>
        <p align="right" class="views-count">{{ article.views }} 阅读</a></p>
    </header>
    <div class="post-description">
        <p>{{ article.content|safe}}</p>
    </div>
</section>

<!-- #如果是超级管理员 -->
{% if user.username == 'admin' %}
<a href = "{% url 'blog:edit_page' article.id %}" class="button-secondary pure-button">修改文章</a>
{% endif %}
<br>
<h1><a href="/"><<< </a></h1>

{% endblock %}