{% extends 'blog/base.html' %}
{% block stuff %}


<div class="posts">
    <!-- A single blog post -->
    <section class="post">
        <form id = edit_page_form class="pure-form" action="{% url 'blog:edit_action' %}" method="post">
            {% csrf_token %}
            <fieldset>
                <!-- 新增文章id默认为0 -->
                <!-- http post按照name=value传递参数 -->
                <input type="hidden"  name="article_id" value="{{ article.id | default:'0'}}">
                <input type="text" placeholder="输入题目..." autocomplete="off" name="title" value="{{ article.title }}">
                <br>
                <input type="text" placeholder="输入标签..." autocomplete="off" name="tag" value="{{ article.tag }}">
                <br>
                <textarea rows="10" placeholder="输入内容..." autocomplete="off" cols="100" name="content" form="edit_page_form">{{ article.content }}</textarea>
            </fieldset>
            <input class="pure-button pure-button-primary" type="submit" value="提交">
        </form>
    </section>
</div>


{% endblock %}
