{% extends 'blog/base.html' %}

{% load static %}
{% block stuff%}


{% if user.username == 'admin' %}
<br>
<a class="pure-button pure-button-primary" href="{% url 'blog:edit_page' 0 %}">新文章</a>
{% endif %}
<div class="posts">
    <h1 class="content-subhead">置顶</h1>
    <!-- A single blog post -->
    <header class="post-header">
        <h2 class="post-title">{{ topArticle.title | default:"None"}}</h2>
        <p class="post-meta">
            Time:{{ topArticle.pub_time }}<a class="post-category post-category-js" href="{% url 'blog:tag_articles' topArticle.tag %}">{{ topArticle.tag }}</a>
            <span class="post-count" style="float:right">{{ topArticle.views }} 阅读</span>
        </p>
        <p>{{ text }}...<br><h3><a href="{% url 'blog:article_page' topArticle.id %}">More</a><h3></p>
    </header>
</div>
<!-- A single blog post -->
<h1 class="content-subhead">最近</h1>
{% for article, text in zip %}
<section class="post">
    <header class="post-header">
        <h2 class="post-title">{{ article.title | default:"None"}}</h2>
        <p class="post-meta">
            Time:{{ article.pub_time }}<a class="post-category post-category-js" href="{% url 'blog:tag_articles' article.tag %}">{{ article.tag }}</a>
            <span class="post-count" style="float:right">{{ article.views }} 阅读</span>
        </p>
        <p>{{ text }}...<br><h3><a href="{% url 'blog:article_page' article.id %}">More</a><h3></p>
    </header>
</section>
{% endfor %}


{% endblock %}