{% extends 'blog/base.html' %}

{% block stuff %}

{% for article, text in zip %}
<section class="post">
    <header class="post-header">
        <h1 class="post-title">{{ article.title | default:"None"}}</a></h1>
        <p class="post-meta">
            Time:{{ article.pub_time }}<a class="post-category post-category-js">{{ article.tag }}</a>
            <span class="post-count" style="float:right">{{ article.views }} 阅读</span>
        </p>
        <p>{{ text }}...<br><h3><a href="{% url 'blog:article_page' article.id %}">More</a><h3></p>
    </header>
</section>
{% endfor %}

{% endblock %}