<!DOCTYPE html>
<html lang="zh-cn">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>登录</title>
    <link rel="stylesheet" href="{% static 'users/css/mobi.css' %}">
    <style>
        .errorlist {
            color: red;
        }
    </style>
</head>
<body>
<div class="flex-center">
    <div class="container">
        <div class="flex-center">
            <div class="unit-1-2 unit-1-on-mobile">
                <h3>登录</h3>
                <form class="form" action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <!-- input的name next 会使页面跳转到next的value -->
                    <input type="hidden" name="next" value="{{ next }}"/>
                    <button type="submit" class="btn btn-primary btn-block">登录</button>
                </form>
                <div class="flex-left top-gap text-small">
                    <div class="unit-2-3"><span>没有账号？<a href="{% url 'register:registe' %}">立即注册</a></span></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
